{% extends "base.html" %}
{% block title %}Server List{% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-10">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col"></th>
                    </thead>
                    {%for s in servers %}
                    <tr>
                        <th scope="row" class="col-md-1">{{s.id}}</th>
                        <td class="col-md-4">{{s.name}}</td>
                        <td class="col-md-5">{{s.location}}</td>
                        <td class="col-md-2">
                            <a href="{% url 'monitor_id' s.id %}">
                                <button type="button" class="btn btn-outline-secondary">Details</button>
                            </a>
                        </td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}